<div>
  <%= tag.img src:"../images/label大图.png", style: "width: 100%; height: 200px; margin-left:auto; margin-right:auto; display: block;" %>
</div>

<div class="card" style="margin-top:10px;">
  <div class="card-header bg-light"><%= t(:eddy)%></div>

  <div class="card-body" style="padding:10px;">
    <div class="row">
      <div class="col-3" style=" ">
        <p style="margin-bottom:0px;" align="center"><%= link_to "Label2100", label_label2100_products_path %></p>
        <p align="center"><%= link_to(tag.img(src:"../images/LRD2100.jpg", alt:"2100", style: "width: 100%; height: auto; ", class: 'img-thumbnail'), label_label2100_products_path) %></p>
        <p style="margin-bottom:0px; padding-left: 0px;">
          <small>可靠、稳定的配准完成对透明和纸质标签的检测。</small>
        </p>
      </div>
      <div class="col-3" style="">
        <p style="margin-bottom:0px;" align="center"><%= link_to "label6300", label_label6300_products_path %></p>
        <p align="center"><%= link_to(tag.img(src:"../images/LRD6300.jpg", alt:"6300", style: "width: 100%; height: auto; ", class: 'img-thumbnail'), label_label6300_products_path) %></p>
        <p style="margin-bottom:0px; padding-left: 0px;">
          <small>用于清洁的，纸质的和大部分金属箔片标签。</small>
        </p>
      </div>
      <div class="col-3" style="">
        <p style="margin-bottom:0px;" align="center"><%= link_to "Label8200", label_label8200_products_path%></p>
        <p align="center"><%= link_to(tag.img(src:"../images/LRD8200.jpg", alt:"8200", style: "width: 100%; height: auto; ", class: 'img-thumbnail'), label_label8200_products_path) %></p>
        <p style="margin-bottom:0px; padding-left: 0px;">
          <small>轻触式按键调节，快读型“三重检查验证”。</small>
        </p>
      </div>
      <div class="col-3" style="">
        <p style="margin-bottom:0px;" align="center"><%= link_to "LionEye", label_lioneye_products_path%></p>
        <p align="center"><%= link_to(tag.img(src:"../images/LionEye2.png", alt:"", style: "width: 100%; height: auto; ", class: 'img-thumbnail'), label_lioneye_products_path) %></p>
        <p style="margin-bottom:0px; padding-left: 0px;">
          <small>低成本的光学传感器，用于不透明的标签。</small>
        </p>
      </div>
    </div>
  </div>
</div>

<% if params[:locale] != "en"%>
  <%= render "label_chinese"%>
<% else %>
  <%= render "label_en"%>
<% end %>
